*, *:before, *:after {
  box-sizing: border-box
}

body {
  font-family: 'SF Pro text' , Helvetica, Arial, sans-serif;
  font-size: 11px;
  background-color: #333;
}

.container {
  width: 375px;
  margin: 0 auto;
  height: auto;
  background-color: white;
}

.status-bar {
  width: 100%;
  height: 18px;
}

.nav-bar {
  background-color: #262C60;
  width: 100%;
  height: 64px;
}

.arrow-left{
  float: left;
  width: 5%;
  padding-top: 30px;
  padding-left: 10px;
}

.bus-stop {
  float: left;
  text-align: center;
  padding-top: 30px;
  padding-left: 85px;
}

.fav-icon {
  float: right;
  padding-right: 10px;
  padding-top: 30px;
}

.search-container{
  width: 100%;
  height: 45px;
  background-color: #606597;
}

.search-container input {
  width: 95%;
  padding: 6px;
  margin: 5px 10px;
  font-size: 1.3em;
  border: none;
  border-radius: 10px;

}
/** this applies to each individual row of bus stops **/
.bus-routes {
  background-color: white;
  width: 100%;
}

.row {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #979797;
  padding-top: 12px;
  padding-left: 10px;
  padding-bottom: 10px;
  vertical-align: middle;
}
/** applies to bus route info **/
.bus-line {
  display: inline-block;
  text-align: center;
  vertical-align: bottom;
  padding-top: 5px;
  background: #47905C;
  height: 28px;
  width: 15%;
  border-radius: 12px;
}

.destination {
  display:inline-block;
  width: 50%;
}

.arrival-frequency {
  float: right;
  text-align: right;
  padding-top: 2px;
  padding-right: 10px;
}

/** font styles for bus stop **/
h1 {
  font-size: 1.6em;
  font-weight: 500;
  color: black;
  padding-left: 5px;
  }

h5 {
  font-size: 1em;
  font-weight: 400;
  padding-top: 4px;
  padding-left: 5px;
  }

.nav-bar h1 {
  font-size: 1.6em;
  font-weight: 500;
  color: white;
  text-align: center;
  padding-bottom: 20px;
}

#frequency {
  float: right;
  padding-top:10px;
  padding-right:10px;
  width: 12%;
}

#frequency h1 {
  color: #E33131;
}
/** bus number **/
.bus-line h2 {
  font-size: 1.6em;
  color: white;
}

.bus-line {
  background-color: #606597;
}

.alert1 h1 {
  color: #E33131;
}

.alert1 h5 {
  color: #E33131;
}

.alert2 h1 {
  color: #929292;
}

.alert2 h5 {
  color: #929292;
}

.interruption h1 {
  color: #929292;
}
